.home {
    padding: 0 8rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    font-size: medium;
    }
    @media (max-width: 700px) {
    .home {
    padding: 0 2rem;
    }
    }
    .home > h1 {
    font-size: 6.5rem;
    background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
    -webkit-background-clip: text;
    background-clip: text;
   
    }
    .home > a {
    font-size: 2.5rem;
    font-style: italic;
    }