@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
--primary-dark: whitesmoke;
--bg-dark: #111111;
--primary-light: #111111;
--bg-light: whitesmoke;
--highlight: #6cace4;
--divider: rgb(164, 164, 164);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}
li {
list-style-type: none;
}
a {
text-decoration: none;
color: inherit;
}
html {
scroll-behavior: smooth;
}
body {
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2190126050420168) 100%, rgba(0,212,255,1) 100%), url(https://res-console.cloudinary.com/dmklwicfb/thumbnails/v1/image/upload/v1690445414/bm90YXNfbXVzaWNhbGVzX3BhcmFfZm9uZG9fZGVfcGFudGFsbGFfc2xjYWx4/template_primary/Y190aHVtYix3XzI0MDAsaF85MDAsZ19hdXRv);
background-color: var(--bg-dark);
color: var(--bg-light);
transition: all 0.5s ease-in-out;
}
.light {
background-color: var(--bg-light);
color: var(--primary-light);
}
main {
min-height: 80vh;
}
a,
p {
font-size: 2.1rem;
}