footer {
display: flex;
justify-content: space-between;
align-items: aling;
padding: 0 8rem;
gap: 4rem;
flex-wrap: wrap;
margin: 2rem 0;
}
@media (max-width: 770px) {
footer {
padding: 0 2rem;
gap: 2rem;
}
}
footer > div {
display: flex;
gap: 2rem;
flex-wrap: wrap;
}
.button{
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
   }